<div class="container newList">
  <h1>Create a new movie list</h1>
  <%= simple_form_for(@list, html: { multipart: true }) do |f| %>
    <%= f.input :name %>
    <br>
    <%= f.input :photo, as: :file %>
    <br>
    <div>
      <%= f.button :submit, "Create a new movie list", class: "btn btn-primary mt-2" %>
    <% end %>
    <%= link_to root_path,  class: "btn btn-light mt-2" do %>
      <i class="fas fa-undo-alt"> Back to list</i>
    <% end %>
  </div>
</div>
