<div class="mb-5">
  <img class="cloudbannerimage" src="<%= cl_image_path @list.photo.key %>" alt="Card image">
  <div class="text-image">
    <h2 class=""> <%= @list.name %> </h2>
    <% list_user = User.find_by(id: @list.user) %>
    <h3 class=""> By <%= list_user %></h3>
    <span class="delete-list-button">
      <%= link_to list_path(@list),
              method: :delete,
              data: { confirm: "Are you sure you want to delete this list ?" },
              class: "" do %>
                <button class="btn btn-danger button-marginright"><i class="far fa-trash-alt"> Delete</i></button>
      <% end %>
    </span>
  </div>
</div>

<div class="container">
  <div class="mb-3 back-button w-100">
    <% if user_signed_in? && (@list.user == current_user.id) %>
      <%= link_to new_list_bookmark_path(@list.id), class: "btn btn-primary button-marginright" do %>
        <i class="fas fa-plus"> Add a movie</i>
      <% end %>

      <%= link_to edit_list_path(@list), class: "btn btn-light button-marginright" do %>
        <i class="fas fa-edit"> Edit</i>
      <% end %>
    <% end %>
    <%= link_to root_path, class: "btn btn-light" do %>
      <i class="fas fa-undo-alt"> Back to list</i>
    <% end %>
  </div>

  <ul class="p-0 movie-grid">
    <% @list.movies.each do |movie| %>
      <li class="movie-card" data-aos="fade-down" data-aos-easing="ease-in-sine">
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <%= image_tag movie.poster_url, class: "movie-poster" %>
        <div class="movie-content">
          <div class="movie-description">
            <p class=""><b> <%= movie.title %> -> <%= movie.rating %> </b> <i class="fas fa-star yellow-star"></i></p>
            <p> <%= movie.overview %> </p>
          </div>
        </div>
        <div class="movie-footer">
          <p><i class="fas fa-quote-left"></i> <%= bookmark.comment %></p>
          <% if user_signed_in? && (@list.user == current_user.id) %>
          <%= link_to list_bookmark_path(@list, bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete this bookmark ?" },
                    class: "" do %>
                      <i class="far fa-trash-alt"> Delete</i>
                    <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
    <!--
      <%= link_to new_list_bookmark_path(@list.id), class: "d-flex list-custom list-group-item btn btn-primary justify-content-center p-3" do %>
        <i class="fas fa-plus"> </i>
      <% end %>
    -->
  </ul>
</div>

<script>
  AOS.init();
</script>
