<div class="cloudbannerimage d-flex justify-content-center align-items-center text-white">
  <img src="<%= cl_image_path @list.photo.key, height: 550, crop: :fill %>" alt="Card image">
  <h2> <%= @list.name %> </h2>
</div>

<ul class="list-group mb-3 ">
  <% @list.movies.each do |movie| %>
    <li class="d-flex list-custom mt-1 list-group-item"><b>Title: </b> <%= movie.title %> <b>Overview: </b> <%= movie.overview %> <b>Rating: </b> <%= movie.rating %></li>
  <% end %>
</ul>

<%= link_to new_list_bookmark_path(@list.id), class: "btn btn-primary mt-2" do %>
  <i class="fas fa-plus"> Create new bookmark for <%= @list.name %></i>
<% end %>

<%= link_to root_path, class: "btn btn-dark mt-2" do %>
  <i class="fas fa-undo-alt"> Back to list</i>
<% end %>
