<div class="cloudbannerimage d-flex justify-content-center align-items-center">
  <img src="<%= cl_image_path @list.photo.key, height: 550, crop: :fill %>" alt="Card image">
</div>
<div class="text-center newList">
  <h2> <%= @list.name %> </h2>
</div>

<ul class="list-group mb-2 container">
  <% @list.movies.each do |movie| %>
    <div class="d-flex">
      <li class="d-flex list-custom list-group-item bookmark-movie"><b>Title: </b> <%= movie.title %> <b>Overview: </b> <%= movie.overview %> <b>Rating: </b> <%= movie.rating %></li>
      <%= link_to list_bookmark_path(movie),
                method: :delete,
                data: { confirm: "Are you sure you want to delete this bookmark ?" },
                class: "btn btn-danger" do %>
                  <i class="far fa-trash-alt"> Delete</i>
                <% end %>
    </div>
  <% end %>
  <%= link_to new_list_bookmark_path(@list.id), class: "d-flex list-custom list-group-item btn btn-primary justify-content-center p-3" do %>
    <i class="fas fa-plus"> </i>
  <% end %>
  <div class="mt-2 mb-2 back-button">
    <!--
    <%= link_to new_list_bookmark_path(@list.id), class: "btn btn-primary" do %>
      <i class="fas fa-plus"> Create new bookmark for <%= @list.name %></i>
    <% end %>
    -->

    <%= link_to edit_list_path(@list), class: "btn btn-light marginrightbutton" do %>
      <i class="fas fa-edit"> Edit</i>
    <% end %>

    <%= link_to root_path, class: "btn btn-light" do %>
      <i class="fas fa-undo-alt"> Back to list</i>
    <% end %>
  </div>
</ul>

