<nav class="navbar navbar-light" data-controller="avatar-dropdown">
  <%= link_to root_path do %>
    <span class="navbar-brand mb-0 h1"><img class="justify-content-start logo" src="<%= image_path "watchlist" %>" alt="logo"></span>
  <% end %>
  <div class="justify-content-end">

    <% if user_signed_in? %>
      <%= link_to new_list_path, class: "btn btn-primary" do %>
        <i class="fas fa-plus"></i> New watchlist
      <% end %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <% end %>

    <!--
      <%= link_to "Home", root_path, class: "btn btn-secondary" %>
    -->

    <% if user_signed_in? %>
      <span class="avatar-content">
        <figure class="figure-image" data-action="click->avatar-dropdown#action">
          <% if current_user.photo == "" %>
            <%= image_tag "default-avatar", crop: :fill, class: 'avatar-bordered', alt: 'avatar' %>
          <% else %>
            <%= image_tag current_user.photo, crop: :fill, class: 'avatar-bordered', alt: 'avatar' %>
          <% end %>
        </figure>
        <div class="dropdownmenu d-none" data-avatar-dropdown-target='dropdown'>
          <%= link_to "Settings", edit_user_registration_path, class: "dropdownitem" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdownitem" %>
        </div>
      </span>
    <% end %>
  </div>
</nav>
